<!--nav.component.html-->
<div fxFlex="100" fxLayout="row" fxLayoutGap="10px">
  <div fxLayout="row" fxFlex="10">
    <div fxLayout="column" fxFlex="100">
      <div fxFlex="30" fxLayout>
        <div fxFlex="100" fxLayoutAlign="center center">
          <img src="../../../assets/download (1).jpeg" style="height:63px">
        </div>
      </div>

      <div fxFlex="70">
        <mat-nav-list>


          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Moment
                </mat-panel-title>
              </mat-expansion-panel-header>
              <a mat-list-item [routerLink]="['listMoment']" [routerLinkActive]="['active']"
                (click)="listMomentIsClick()"> List Moment </a>
              <a mat-list-item [routerLink]="['addmoment']" (click)="listMoment()"> add Moment </a>
            </mat-expansion-panel>
          </mat-accordion>


        </mat-nav-list>
      </div>
    </div>
  </div>
  <div fxFlex="100">
    <div>
      <mat-sidenav-container>
        < <mat-sidenav-content>
          <mat-toolbar>
            <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between">
              <mat-icon>view_list</mat-icon>
              <div fxLayout="row" fxLayoutGap="10px">
                <div style="height: 50px;">
                  <mat-accordion>
                    <mat-expansion-panel style="background-color:revert">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          <div> <img class="user-image" src="../../../assets/download (2).jpeg"> </div>
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                     <div> <button type="button" (click)="logout()"> logOut </button></div>

                    </mat-expansion-panel>
                  </mat-accordion>
                </div>
              </div>
            </div>


          </mat-toolbar>
          <div *ngIf="isChecked == false">
            <div style="height: 100vh;" fxLayout="column" fxFlex="100" fxLayoutGap="20px">
              <div fxFlex="20">
                <div fxFlex="100" class="moment-shadow" fxLayoutAlign="start center">
                  <span style="font-size: 25px;font-weight: 500;" fxLayoutAlign="center center"> Moment </span>
                </div>
              </div>
              <div fxFlex="100" fxLayoutAlign="center  center">
                <div fxFlex="80">
                  <app-listmoment> </app-listmoment>
                </div>
              </div>
            </div>
          </div>




          <div *ngIf="isAddMoment == true">
            <div style="height: 100vh;" fxLayout="column" fxFlex="100" fxLayoutGap="20px">
              <div fxFlex="20">
                <div fxFlex="100" class="moment-shadow" fxLayoutAlign="start center">
                  <span style="font-size: 25px;font-weight: 500;" fxLayoutAlign="start center"> Add Moment </span>
                </div>
              </div>
              <div fxFlex="100" fxLayoutAlign="center  center">
                <div fxFlex="80">
                  <app-addmoment> </app-addmoment>
                </div>
              </div>
            </div>
          </div>









          <div *ngIf="isUpdateForm == true">

          </div>

          </mat-sidenav-content>
      </mat-sidenav-container>
    </div>
  </div>

</div>